@import "../../theme.scss";

.cart {
  position: absolute;

  //opacity: 0;
  top: 0; 
  right: 0;
  height: 100%;
  width: 300px;
  background-color: white;
  border-left: solid 1px $LINE-COLOR;
  z-index: 2;

  transform: translateX(100%);
}

.cart-panel {
  padding: 1rem;
}

@keyframes cart-slide-in {
  to { 
    //opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes cart-slide-out {
  to { 
    //opacity: 0;
    transform: translateX(100%);
  }
}

.cart-show {
  //display: block;
  animation-fill-mode: forwards;
  animation-name: cart-slide-in;
  animation-duration: $TRANSITION-TIME;
}

.cart-hide {
  transform: translateX(0%);
  animation-fill-mode: forwards;
  animation-name: cart-slide-out;
  animation-duration: $TRANSITION-TIME;
}

.cart-entry {
  padding-bottom: 0.5rem;
}

.cart-entry-remove-button {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  border-radius: 1em;
}

.cart-entry-remove-button:hover {
  background-color: $RIBBON-BUTTON-BACKGROUND;
}