@import "../../theme.scss";

.cart {
  position: absolute;
  opacity: 0;
  top: 0; 
  right: 0;
  height: 100%;
  width: 300px;
  background-color: white;
  box-shadow: $BOX-SHADOW-MENU;
  z-index: 10;
  padding: 1rem;
}

@keyframes cart-slide-in {
  to { 
    opacity: 1; 
  }
}

@keyframes cart-slide-out {
  to { 
    opacity: 0;
  }
}

.cart-show {
  animation: cart-slide-in $TRANSITION-TIME forwards;
}

.cart-hide {
  animation: cart-slide-out $TRANSITION-TIME forwards;
}

.cart-entry {
  padding-bottom: 0.5rem;
}

.cart-entry-remove-button {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  border-radius: 1em;
}

.cart-entry-remove-button:hover {
  background-color: $RIBBON-BUTTON-BACKGROUND;
}