@import "../../theme.scss";

.button {
  height: 2rem;
  border-radius: $BORDER-RADIUS;
  transition: background-color $TRANSITION-TIME ease;
  text-align: center;
  cursor: pointer;
}

.text-button {
  transition: color $TRANSITION-TIME ease;
}


.icon {
  height: 1rem;
  width: 1rem;
  line-height: 1rem;
  vertical-align: middle;
}

.icon-button {
  transition: color $TRANSITION-TIME ease;
}

.hide-button {
  color: $ALT-TEXT-COLOR;
}

.hide-button:hover {
  color: $RIBBON-COLOR;
}

.button-icon {
  margin-right: 0.5rem;
}

.menu-item-icon {
  margin-right: 0.5rem;
}

.semantic-button {
  min-width: 5rem;
  color: white;
}

.primary-button {
  background-color: #80b3ff;
  border: solid 1px #5599ff;
}

.primary-button:hover {
  background-color: #5599ff;
}

.danger-button {
  background-color: #ff5555;
}

.danger-button:hover {
  background-color: #ff2a2a;
}

.dialog-button {
  color: #111;
  background-color: #f9f9f9;
  border: solid 1px #ccc;
}

.dialog-button:hover {
  background-color: #f2f2f2;
}

.back-button {
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
  border: solid 2px rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  transition: border-color $TRANSITION-TIME ease, color $TRANSITION-TIME ease;
}

.back-button:hover {
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7);
}