.quick-access-toolbar {
  margin-top: 0.5rem;
}

.quick-access-button {
  color: white;
  height: 2rem;
  width: 2rem;
  padding: 0;
}

.quick-access-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}