@import "../../../theme.scss";


.titlebar {
  position: relative;
}

.window-titlebar {
  background-color: $RIBBON-COLOR;
}

.window-title {
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 1;
}

.button-bar {
  -webkit-app-region: no-drag;
  z-index: 10;
}


.close-button:hover {
  background-color: rgba(255, 0, 0, 0.6);
}

.base-title-button {
  height: 1.8rem;
  width: 3rem;
  border-radius: 0;
  background-color: $TRANS-COLOR;
}

.light-base-title-button {
  color: white;
}



.light-title-button:hover {
  background-color: rgba(255, 255, 255, $TITLE-BUTTON-TRANS);
}