@import "../../theme.scss";

$SIZE: 24px;
$TOGGLE-SIZE: 22px;
$SWITCH-WIDTH: 34px;

.switch {
	position: relative;
	width: $SWITCH-WIDTH;
	height: $SIZE;
  cursor: pointer;
}

.toggle-slot {
	position: absolute;
	width: $SWITCH-WIDTH;
	height: $SIZE;
	border-radius: 12px;
	transition: background-color $TRANSITION-TIME ease, transform $TRANSITION-TIME ease;
	z-index: 5;
  top: 0px;
  left: 0px;
}

.toggle-button {
	position: absolute;
	width: $TOGGLE-SIZE;
	height: $TOGGLE-SIZE;
	background-color: white;
	border-radius: 11px;
	transition: background-color $TRANSITION-TIME ease, transform $TRANSITION-TIME ease;
	z-index: 10;
  top: 1px;
  left: 1px;
}

.switch-off {
	background-color: #ccc;
}

.switch-on {
	background-color: rgba($RIBBON-COLOR-R, $RIBBON-COLOR-G, $RIBBON-COLOR-B, 0.5);
}

.toggle-left {
	background-color: white;
	transform: translateX(0);
}

.toggle-right {
	background-color: white;
  transform: translateX(10px);
}
