@import "../../../theme.scss";

.samples {
  padding: 0;
  background-color: white;
}

.sample {
  padding: 0.5rem;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  border-bottom: solid 1px #ddd;
  transition: background-color $TRANSITION-TIME ease-in-out;
}

.sample-selected {
  background-color: #ddd;
}

.sample-not-selected:hover {
  background-color: #eee;
}

.sample-info {
  margin: 1em;
  flex: 2;
}

.sample-block {

}

.sample-block-title {
  background-color: #eee;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-weight: 700;
  border-top: solid 1px $LINE-COLOR;
  border-bottom: solid 1px $LINE-COLOR;
}

.sample-info-entry {
  
}

.sample-info-entry-name {
  color: orange;
}

.sample-info-entry-value {
  
}

.sample-title {
  font-weight: 700;
}

.sample-sub-title {
  font-size: 0.8rem;
}


.samplelist-enter {
  color:red;
  opacity: 0;
  
}

.samplelist-enter.samplelist-enter-active {
  opacity: 1;
  color:red;
  transition: opacity 5000ms ease-in-out;
}

.samplelist-leave {
  opacity: 1;
}

.samplelist-leave.samplelist-leave-active {
  opacity: 0;
  transition: opacity 5000ms ease-in;
}


.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}