@import "../../../theme.scss";

.ribbon-button {
  border-radius: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 2.4rem;
  color: $RIBBON-COLOR;
}

.ribbon-button:hover {
  background-color: $RIBBON-BUTTON-BACKGROUND;
}