@import "../../../theme.scss";

.ribbon-menu {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  overflow: hidden;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: $DIALOG-MEZZ-BACKGROUND; */
  z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
}

.ribbon-menu-content {
  position: fixed; /* Sit on top of the page content */
  // top: 2%; 
  // left: 2%;
  // width: 96%;
  // height: 96%;

  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;

  //box-shadow: $BOX-SHADOW-MENU;
  //border-radius: $BORDER-RADIUS;
}

@keyframes ribbon-menu-fade-in {
  from { 
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.ribbon-menu-show {
  display: block;
  animation: ribbon-menu-fade-in $TRANSITION-TIME forwards;
}

.ribbon-menu-bar {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba($RIBBON-COLOR-R, $RIBBON-COLOR-G, $RIBBON-COLOR-B, 0.95);
  min-width: 10rem;
}

.ribbon-menu-panel {
  flex: 6;
}

.ribbon-menu-item {
  color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
  padding-left: 1.5rem;
}

.ribbon-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.ribbon-menu-sep {
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  height: 1px;
  margin-left: 1.5rem;
  margin-right: 2rem;
}