@import "../../theme.scss";

.ribbon {
    background-color: $RIBBON-COLOR;
    
}

.ribbon-bar {
    background-color: $RIBBON-COLOR;
}


.ribbon-tabs {
    height: $RIBBON-TAB-HEIGHT;
    margin-top: 0.5rem;
}

