@import "../../theme.scss";

.ribbon {
    background-color: $RIBBON-COLOR;
    border-bottom: solid 1px $LINE-COLOR;
}

.ribbon-bar {
    
}


.ribbon-tabs {
    height: $RIBBON-TAB-HEIGHT;
    margin-top: 0.5rem;
}

