@import "../../theme.scss";

.search-bar {
  background-color: rgba(255,255,255, 0.5);
  border-radius: 1rem;
  height: 1.8rem;
  width: 24rem;
  transition: background-color $TRANSITION-TIME ease;
}

.search-bar:hover {
  background-color: rgba(255,255,255, 0.6);
}

.search-box {
  color: $RIBBON-COLOR;
  border: none;
  outline: none;
  background: none;
  margin-left: 1rem;
}

.search-box:hover, search-box:focus {
  outline:none;
}

.search-button {
  color: $RIBBON-COLOR;
  background: none;
  border: none;
  cursor: pointer;
}

.search-button:hover, .search-button:focus {
  outline:none;
}



