.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    border: solid 1px yellow;

}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #eee;
}