
@import "./theme.scss";


.row, .column {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  overflow: hidden;
  min-width: 0;
  min-height: 0;

}

.no-flex {
  flex: 0 0 auto;
}

.align-right {
  justify-content: flex-end;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}


.row-vert-center {
  align-items: center;
}

.row-center {
  justify-content: center;
}

.col-sep {
  border-right: solid 1px $LINE-COLOR;
}

.base-card {
  background: white;
}

.app {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.drop-down-menu {
  padding: 0.2rem;
}