@import "./theme-blue.scss";

$TRANSITION-TIME: 250ms;

$TEXT-COLOR: rgb(64, 64, 64);
$ALT-TEXT-COLOR:rgb(192, 192, 192);

$BACKGROUND-COLOR: rgb(245, 245, 245);
$RIBBON-TAB-BACKGROUND: $BACKGROUND-COLOR;
$RIBBON-BUTTON-BACKGROUND: rgb(230, 230, 230);
$MENU-ITEM-BACKGROUND: $RIBBON-BUTTON-BACKGROUND;
$TRANS-COLOR: rgba(0, 0, 0, 0);
$LINE-COLOR: rgb(235, 235, 235);

$BOX-SHADOW-MENU: 0px 0px 0.5rem 0px rgba(0,0,0,0.2);

$BORDER-RADIUS: 4px;

$RIBBON-TAB-HEIGHT: 2.2rem;

$DIALOG-MEZZ-BACKGROUND: rgba(255, 255, 255, 0.95);