@import "./theme-blue.scss";

$TRANSITION-TIME: 250ms;

$BACKGROUND: rgb(245, 245, 245);
$RIBBON-TAB-BACKGROUND: $BACKGROUND;
$RIBBON-BUTTON-BACKGROUND: rgb(235, 235, 235);
$MENU-ITEM-BACKGROUND: $RIBBON-BUTTON-BACKGROUND;

$LINE-COLOR: rgb(235, 235, 235);

$BORDER-RADIUS: 0.2rem;