@import "./theme-blue.scss";

$TRANSITION-TIME: 250ms;

$BACKGROUND: rgb(245, 245, 245);
$RIBBON-TAB-BACKGROUND: $BACKGROUND;
$MENU-ITEM-BACKGROUND: rgb(240, 240, 240);

$LINE-COLOR: rgb(235, 235, 235);

